@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 8px;
    font-size: 13px;
    height: 2677px;
}

.tab1{
    width: 70%;
    margin: auto;
}

.tab2{
    width: 100%;
   
}

.imagem{
    width: 14%;
}

.headers{
    width: 86%;
}
.lei10520{
    text-align: center;
    font: normal bold 13px Arial, Helvetica, sans-serif;
    color: blue;
    word-spacing: 0.6px;
    margin: 16px 0;
    text-decoration: underline;
    text-decoration-thickness: 1.35px;    
}

h1{
    font-size: 23px;
    color: #808000;
}

h2{
    font-size: 19px;
    color: #808000;
}

h3{
    font-size: 16px;
    color: #808000;
}

.tab1 td{
    text-align: center;
}

.tab2 td{
    width: 51.900%;
    border: none;    
}

.institui{
    font: normal normal 13px Arial, Helvetica, sans-serif;
    color: #800000;
    text-align: justify;   
}

.links{
   line-height: 30px;
}

main{
    text-indent: 30px;
    text-align: justify;
}

main > p, ol, ul, li {
    margin: 16px 0px;
    line-height: 15.54px;
}
.art{
    list-style-type: 'Art.\0020';
    list-style-position: inside;
}

.paragrafo{
    list-style-type: '§\0020';
    list-style-position: inside;
}

.riscado1, .riscado2{
    text-decoration:line-through;
}

.riscado2{
    padding-right: 10px;
    font-size: 13px;
    text-decoration-thickness: 1.7px;    
}

.recuo{
    margin: 0px 80px;
    text-indent: 0px;
}

footer{
    color: #FF0000;
    margin-top: 16px;
    text-align: justify;
    font-size: 13px;
}

footer > a{
    text-decoration:underline;
    text-decoration-thickness: 1.7px;
    color: #FF0000;
}

footer > a:hover{
    color: #FF0000;
}