@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 8px;
    font-size: 13px;
    height: 2677px;
}

main{
    text-indent: 30px;
}

main > p, ol, ul, li {
    margin: 16px 0px;
    line-height: 15.54px;
}
.art{
    list-style-type: 'Art.\0020';
    list-style-position: inside;
}

.paragrafo{
    list-style-type: '§\0020';
    list-style-position: inside;
}

.riscado1, .riscado2{
    text-decoration:line-through;
}

.riscado2{
    padding-right: 10px;
    word-spacing: 0.16em;
    text-decoration-thickness: 1.7px;
    
}

.recuo{
    margin: 0px 80px;
    text-indent: 0px;
}

.sembordacima{
    margin-top: -9px;
    margin-bottom: -1px;
}

footer{
    color: #FF0000;
    margin-top: 16px;
    text-align: justify;
    font-size: 13px;
}

footer > a{
    text-decoration:underline;
    text-decoration-thickness: 1.7px;
    color: #FF0000;
}

footer > a:hover{
    color: #FF0000;
}